<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <h2>로그인</h2>
    <form action="/v1/login" method="post">
        이메일: <input type="email" name="email"> <br>
        비밀번호: <input type="password" name="password"> <br>
        <input type="submit" value="로그인">
    </form>
    <br>
    <a href="/v1/signup" method="get">회원가입</a>
</body>
</html>