<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>
        <%=name%>님 구매목록~~~~~!!
    </h2>
    <hr>
    <ol>
        <% payments.forEach(function(val){ %>
            <li>
                <%= val %>
            </li>
            <% }) %>
    </ol>
    </p>

    <a href="/v1/toss">쇼핑</a>
    <a href="/v1/logout">로그아웃</a>
</body>

</html>