<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>

<body>
    <a
        href="/v1/auth/naver/login">
        <img height="50" src="http://static.nid.naver.com/oauth/small_g_in.PNG">
    </a>
<br>
    <a href="/v1/auth/kakao/login">
        <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222" alt="카카오 로그인 버튼" />
    </a><br>
    <form method="POST" action="/v1/register">
        이메일 <input type="text" name="email"><br>
        비밀번호<input type="text" name="password"><br>
        전화번호<input type="text" name="phone_number"><br>
            <button t>회원가입</button>
        </form>
        <br><br>
        <% if(!isloggedIn){ %>
        <form method="POST" action="/v1/login/sessionlogin">
            이메일 <input type="text" name="email"><br>
            비밀번호 <input type="text" name="password"><br>
            <button>로그인</button>
        </form>
        <% }else{ %>
            <form method="POST" action="/v1/auth/logout">
                <button>로그아웃</button>
            </form>
        <% } %>
</body>

</html>